.wrapper{
border:0px solid red;
padding:8px;
}

.wrapper-white{
background:#fff;
padding:15px 8px;
}

.center{
text-align:center;
}
.field-section{
padding:8px;
}
.home-header,
.orange-header
{
max-width:100%;
background:#C80C09;
color:#fff;
padding-top:10px;
padding-bottom:15px;
}
.orange-header{
padding-left:8px;
padding-right:8px;
}

.home-header img,
.full-image
{
display:block;
margin:auto;
max-width:70%;
}
.navigation-bar{
background:#C80C09;
color:#fff;
border:none;
}

.white,
.toolbar-button,
.ons-back-button__icon,
.restauran-title.white
{
color:#fff;
}

.green,
.icon-green,
.myfa-check
{
color:#00B279;
}


.button.green-btn{
background:#00B279;
}

.button.blue-btn{
background:#3B5998;
}

.pad20{
padding:20px;
}

.pad25{
padding:25px;
}

.padtop25{
padding-top:25px;
padding-bottom:25px;
}

.tab-bar{
background:#00B279;
}
.clear{
clear:both;
}
.search-btn{
position:absolute;
top:7px;;
right:15px;
}

.home-page,
.filter-options
{
z-index:10;
position:relative;
}

/** menu backround */
.page--menu-page__background {
/*background-color: #333;
color: white;*/
/*background-color:#363535; color:#868686;*/
background-color:#F2F2F3;
color:#333;
}

.main-menu-list,
.bottom-menu-item:first-child,
.bottom-menu-item
{
/*border-color: #393939;*/
/*border-color:#4C4C4C;
color: #acacab;*/

/*border-color:#DFDFE0;*/
/*border-bottom:1px solid #DFDFE0;*/
color: #333;

background-color: transparent;
background-image: none !important;
font-size:15px;
}

.main-menu-list .list__item{
border-bottom:1px solid #DFDFE0;
}

.bottom-menu-item span{
padding-left:10px;
}
.right{
float:right;
}
.text-right{
text-align:right;
}

.filter-options span,
.filter-options .checkbox,
.location-options .radio-button,
.p-normal.pts_earn_label,
#page-pts .p-normal,
#page-pts-details .p-normal,
.p-dim
{
color:#666;
}

.results-header{
background:#00B279;
color:#fff;
text-align:center;
padding-top:6px;
padding-bottom:6px;
font-size:14px;
z-index:11;
}

.arrow_box { position: relative; background: #00B279; } .arrow_box:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(0, 178, 121, 0); border-top-color: #00B279; border-width: 8px; margin-left: -8px; }

.modal{
background:rgba(255, 255, 255, 0.1);
}
.modal__content{
color:#666;
}

#search-text,
.concat-text
{
width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
display:block;
}
.restaurant-list .logo-wrap,
.restaurant-list .logo-wrap2,
.logo-wrap
{
height: 80px;
width: 80px;
display:block;
margin:auto;
background:#fff;
}

.logo-wrap.logo-non-auto{
float:left;
}

.logo-wrap img,
.logo-wrap2 img
{
max-width:100%;
margin:auto;
display:block;
max-height:100px;
}

.restaurant-list .row,
.review-list .row,
.list-header
{
padding-top:8px;
padding-bottom:8px;
}
.restaurant-list p,
#page-itemdisplay p.description,
.onsen-display p.description,
.small-font-dim,
#page-receipt .wrapper p,
#page-merchantinfo .wrapper p,
address,
.list-dim-text .list__item,
#page-booking-ty .wrapper p,
.settings-list
{
line-height:1;
font-size:14px;
color:#666;
margin:8px 0;
font-style:normal;
}

.small-font-dim-smaller,
.small-font-dim.small-font-dim-smaller
{
font-size:12px;
}

.col-image,
.col-description
{
line-height:normal;
}
.restauran-title,
.restaurant-list .restauran-title,
.title,
.total,
.total_value,
#page-merchantinfo h3,
#page-merchantinfo h5,
#page-prelogin h4,
#page-orders .col-orders,
#page-login h4,
.p-normal
{
font-weight:normal;
color:#262626;
margin:0;
font-size:18px;
}

#page-merchantinfo h5{
font-size:17px;
margin:5px 0 8px;
}

.total_value{
font-size:20px;
font-weight:bold;
}

.p-small,
.restaurant-list p.p-small
{
font-size:12px;
}
.bold{
font-weight:800;
}
.border-left{
border-left:1px solid #666;
padding-left:8px;
}

.restaurant-list .list-item-container:nth-child(even){
/*background:#F7F7F7;*/
}
.notification.open,
.notification.pre-order
{
background:#00B279;
}

#category-list .row{
color:#262626;
font-size:18px;
}

.list-header
{
font-weight:normal;
color:#666;
margin:0;
font-size:17px;
}

.text-right{
text-align:right;
}
#menu-list price,
price
{
font-weight:bold;
color:#262626;
font-size:13px;
}
.item-header{
height:170px;
background:#fff;
background-repeat: no-repeat !important;
background-size: contain !important;
background-position:center !important;
}

#page-itemdisplay .title{
border-bottom:1px solid #DDDDDD;
padding-bottom: 8px;
padding-top: 8px;
}
#page-itemdisplay .title{
font-size:21px;
}

#page-itemdisplay price,
.onsen-display price
{
font-size:14px;
}

.grey-border-top{
border-top:1px solid #DDDDDD;
}
.grey-border-top2{
border-top:2px solid #DDDDDD;
}
.grey-border-bottom{
border-bottom:1px solid #DDDDDD;
}

#page-itemdisplay .grey-border-bottom{
border-bottom:2px solid #00B279;
}
#page-itemdisplay .qty{
width:100%;
}

#page-itemdisplay p.description.item-name,
.onsen-display p.description.item-name
{
display:inline;
}

#page-itemdisplay .list-header,
.onsen-display .list-header
{
padding-top:5px;
padding-bottom:5px;
}

#page-itemdisplay .radio-button__checkmark,
.onsen-display .radio-button__checkmark,
#page-locations .radio-button__checkmark,
#page-languageoptions .radio-button__checkmark,
#page-expirationmonth .radio-button__checkmark,
{
border:1px solid #ddd;
}

.radio-button__checkmark{
border:1px solid #ddd;
}

.quantity-center{
margin-top: 7px;
text-align: right;
color:#666;
padding-right:8px;
}
.text-left{
text-align:left;
}
.text-right{
text-align:right;
}
.text-center{
text-align:center;
}
.cart-total-wrap{
margin-top:25px;
}

.cart
{
font-size:30px;
}

.cart-num,
#page-cart .numeric_only,
#page-cart .qty,
.order-apply-changes,
.row-del-wrap,
.order-change-wrapper,
.payon-delivery-wrapper,
.logout-menu,
.delete-addressbook,
.select-addressbook,
.page-login-fb,
.voucher-wrap,
.remove-voucher,
.mobile-verification-msg,
.email-verification-msg,
.pts_pts_cancel
{
display:none;
}

.text-big,
#page-merchantinfo h3
{
font-size:20px;
}

.total-amount{
margin:auto;
}
#page-cart .text-big,
#page-checkoutsignup .text-big,
#page-shipping .text-big,
#page-paymentoption .text-big,
{
margin-top:7px;
}

.onsen-display .row-no-border,
.row-no-border
{
border:none;
}
.small-input{
width:60px;
}

#cart-item .line-separator{
border-bottom:none;
line-height: 10px;
min-height: 10px;
}

.delete-item{
background:#DEDEDE;
color: #FFFFFF;
font-size: 15px;
font-weight: normal;
line-height: 20px;
padding: 4px 8px;
}

.price-normal price{
font-weight:normal;
}
.small-red-text{
color:#FF0000;
font-size:12px;
margin:5px 10px;
}

.delivery_date,
.delivery_time,
.field-wrapper input,
.field-wrapper email,
.field-wrapper password,
.order_notes
{
width:100%;
}
.field-wrapper{
padding:8px 0;
}

.help-block.form-error{
color: #FF0000;
display: block;
font-size: 12px;
text-align: right;
}

.cod{
color:#05A183;
}
.pyr{
color:#333476;
}
.paypal{
color:#009CDE;
}

#page-paymentoption .logo-wrap{
height:auto;
width:50px;
margin-right:0;
}

.myfa-check{
font-size:100px;
}

price.discount,
#menu-list price.discount
{
color:#D4232B;
margin-right:5px;
text-decoration:line-through;
}
.checkout-icon{
font-size:40px;
}

.list-dim-text .list__item{
line-height:normal;
min-height: inherit;
padding-bottom: 5px;
padding-top: 5px;
}

#merchant-map,
#map_canvas,
#map_canvas_address
{
width:100%;
min-height:250px;
}

.review-list .icon-user{
font-size:50px;
color:#666;
}
#page-orders .col-order-stats{
}
#page-orders .col-order-stats .notification{
vertical-align:middle;
font-size:14px;
display:inline-block;
}

#page-orders .col-orders{
font-size:14px;
}

#page-addressbook-details .small-font-dim{
display:inline-block;
}
.loading-screen{
height: 100%;
position: absolute;
top: 0;
width: 100%;
background:#101317;
}

.loading-screen .inner{
color: #FFFFFF;
font-family: arial;
margin-top: 25%;
position: relative;
text-align: center;
}

.padding-left10{
padding-left:10px;
}

.padding-left5{
padding-left:5px;
}

.pad-top10{
padding-top:10px;
}

.pad-top20{
padding-top:20px;
}

.settings-header {
  font-weight: 500;
  font-size: 14px;
  opacity: 0.4;
  padding: 10px 0 0px 10px;
  margin-bottom: -4px;
}
.settings-list {
  margin-top: 10px;
}

.switch-wrapper{
border:1px solid red;
}

.no-connection {
text-align:center;
padding-top:60px;
display:none;
}

.no-connection #ion-wifi{
color:#ddd;
font-size:100px;
}
.no-connection p{
color:#666;
font-size:20px;
margin-bottom:10px;
margin-top:5px;
}

#voucher-wrap,
.pts-apply-points-wrap
{
margin-bottom:15px;
}

.border{
/*border:1px solid red !important;*/
}

.p-normal.pts_earn_label{
font-size:14px;
}
#page-pts .p-normal
{
font-size:14px;
}

#scroller-pts-details span
{
color:#C80C09;
}

.profile-pic-wrap{
min-height:50px;
background:#33393c;
color:#fff;
padding:20px;
}

.avatar-wrap{
max-width:70px;
min-height:70px;
display:table-cell;
}
.avatar-right{
display:table-cell;
vertical-align:middle;
padding-left:15px;
}

.avatar-wrap img{
width: 70px; 
height: 70px; 
-moz-border-radius: 50px; 
-webkit-border-radius: 50px; 
border-radius: 50px;
}

#page-profile .avatar-wrap{
display:block;
margin:auto;
max-width: 100px;
min-height: 100px;
}

#page-profile .avatar-wrap img{
width: 100px; 
height: 100px; 
}

#page-profile .profile-pic-wrap{
padding:30px 10px;
}

.is-broken{
background:url("images/broken.png") no-repeat center center;
min-height:24px;
min-width:24px;
padding:20px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px; 
-khtml-border-radius: 2px;
}


.avatar-wrap .is-broken{
height: 0;
width: 0;
min-height: 0;
min-width: 0;
padding:0;
}
.avatar-wrap .img_loaded
{
height:40px;
width: 40px;
}

.addon_description{
border-bottom: 1px solid #ddd;
padding-bottom: 8px;
padding-left: 15px;
padding-right: 15px;
}

.img_loaded img,
.is-broken img
{
display:none;
}

.img_loaded {
  margin: 10px auto;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(247,93,52, 0.2);
  border-right: 1.1em solid rgba(247,93,52, 0.2);
  border-bottom: 1.1em solid rgba(247,93,52, 0.2);
  border-left: 1.1em solid #C80C09;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.img_loaded,
.img_loaded:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.green-color{
color:#00b279;
}

.top10,
.restaurant-list .top10
{
margin-top:10px;
}

.top15{
margin-top:15px;
}


.top20{
margin-top:20px;
}

.myloader {
  margin: 10px auto;
  font-size: 6px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(247,93,52, 0.2);
  border-right: 1.1em solid rgba(247,93,52, 0.2);
  border-bottom: 1.1em solid rgba(247,93,52, 0.2);
  border-left: 1.1em solid #C80C09;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.myloader,
.myloader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#map_canvas_div,
#map_canvas_div_search,
#map_canvas_address,
#map_canvas_track
{
height:100px;
width:100%;
}

.page__background.page--map-page__background{
background:rgba(0,0,0,0) !important;
}


#direction-wrap{
bottom: 0px;
position: absolute;
width: 95%;
z-index: 99999 !important;
background:#fff;
}

.list-wrapper{
margin:10px;
}

.block{
display:block;
}

.intl-tel-input{
width:100%;
}

.iagree-wrap,
.manual-address-input
{
display:none;
}

.button.orange-btn{
background:#C80C09;
}

.time-remaining-wrap{
background:#F6F8F7;
padding-top:15px;
padding-bottom:15px;
border-bottom:1px solid #E4E4E4;
}

.rounded-green {
  margin:auto;
  font-size: 10px;
  position: relative;
  border-top: 1.1em solid rgba(0, 178, 121, 0.2);
  border-right: 1.1em solid rgba(0, 178, 121, 0.2);
  border-bottom: 1.1em solid rgba(0, 178, 121, 0.2);
  border-left: 1.1em solid #E4F0EC;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
   border-width: 10px;
}
.rounded-green,
.rounded-green:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.rounded-green h2{
font-size: 36px;
font-weight: normal;
position: absolute;
text-align: center;
top: -10px;
width: 100%;
}

.rounded-green p.remaining{
position: absolute;
text-align: center;
top: 55px;
width: 100%;
}

.track-status-wrap{
padding-left:25px;
padding-right:25px;
padding-top:30px;
padding-bottom:30px;
position:relative;
/*min-height:200px;*/
}

.track-status-wrap ul,
.track-status-wrap ul li
{
margin:0;
padding:0;
list-style:none;
}

.track-status-wrap ul li{
margin-bottom:20px;
padding-left:35px;
position:relative;
}

.track-status-wrap p{
font-size:13px;
color:#666;
margin:0;
padding:0;
}

.track-status-wrap h3,
#driver-details-wrap h3
{
font-size:16px;
margin:0;
padding:0;
font-weight:normal;
}

.s-c-g{
position:absolute;
left:0;
top:8px;
width: 20px; 
height: 20px; 
background: #00B279; 
-moz-border-radius: 50px; 
-webkit-border-radius: 50px; 
border-radius: 50px;
}

.horizontal-line{
background:#E4E4E4;
height: 100%;
margin-left: 10px;
position: absolute;
top: 0;
width: 2px;
}

.page--page-track__background{
background:#fff;
}

.page__content.page--tracking-page__content{
}

.page__background.page--tracking-page__background{
background:rgba(0,0,0,0) !important;
}


.track_driver{
/*bottom: 0px;
position: absolute;*/
}

#driver-details-wrap{
bottom: -11px;
position: absolute;
width: 98%;
z-index: 999999 !important;
background:#fff;
padding:5px;
border-top:1px solid #E4E4E4;
left:-10px;
}

#driver-details-wrap img{
max-width:70px;
max-height:70px;
border-radius: 50%;
}

.notification.successful,
.notification.paid
{
background:#2c9f2c;
}
.notification.accepted{
background:#33a17e;
}
.notification.inprogress{
background:#ec391c;
}
.notification.assigned{
background:#C80C09;
}
.notification.started{
background:#ba68c8;
}

.map_search_field_wrap{
background:#fff;
position:relative;
}

.map_search_field_wrap .ons-icon{
left: 15px;
position: absolute;
top: 7px;
}

#search_address_geo{
height: 40px;
padding: 5px 20px;
width: 100%;
text-indent:20px;
}

#map_canvas_address{
position:relative;
}

#menucategory-page .restauran-title.concat-text,
#page-menubycategoryitem .restauran-title.concat-text
{
max-width:220px;
white-space: inherit;
}